@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">

                <h1 class="mx-auto my-0 text-uppercase">Welcome to my bank</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                @*<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login to see more</a>*@
            </div>
        </div>
    </div>
</section>



<div class="container-fluid p-0" style="height: 100vh; background-image: url('/assets/img/BWBG.jpg'); background-size: cover; background-position: center;">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 col-md-3">
            <div class="card" style="margin-top:90px">
                <div class="card-header">
                    <img src="/assets/img/Flag_of_Sweden.svg.png" class="img-fluid" alt="Flag">
                </div>
                <div class="card-body">

                    <h4><i class="fa-solid fa-user"></i></h4>
                    <h5 class="card-text">
                        Clients
                        <br />1377
                    </h5>
                    <h4><i class="fa-solid fa-chart-simple"></i></h4>
                    <h5 class="card-text">
                        Accounts
                        <br /> 1144
                    </h5>
                    <h4> <i class="fa-sharp fa-solid fa-dollar-sign"></i> </h4>
                    <h5 class="card-text">
                        Capital
                        <br />61,380,373 kr
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card" style="margin-top:90px">
                <div class="card-header">
                    <img src="/assets/img/Danmark-Flag.jpg" class="img-fluid" alt="Flag">
                </div>
                <div class="card-body">

                    <h4><i class="fa-solid fa-user"></i></h4>
                    <h5 class="card-text">
                        Clients
                        <br />1353
                    </h5>
                    <h4><i class="fa-solid fa-chart-simple"></i></h4>
                    <h5 class="card-text">
                        Accounts
                        <br /> 1158
                    </h5>
                    <h4> <i class="fa-sharp fa-solid fa-dollar-sign"></i> </h4>
                    <h5 class="card-text">
                        Capital
                        <br />59,638,743 kr
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card" style="margin-top:90px">
                <div class="card-header">
                    <img src="/assets/img/Norway-flag.jpg" class="img-fluid" alt="Flag">
                </div>
                <div class="card-body">

                    <h4><i class="fa-solid fa-user"></i></h4>
                    <h5 class="card-text">
                        Clients
                        <br />1293
                    </h5>
                    <h4><i class="fa-solid fa-chart-simple"></i></h4>
                    <h5 class="card-text">
                        Accounts
                        <br /> 1071
                    </h5>
                    <h4> <i class="fa-sharp fa-solid fa-dollar-sign"></i> </h4>
                    <h5 class="card-text">
                        Capital
                        <br />56,321,006 kr
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card" style="margin-top:90px">
                <div class="card-header">
                    <img src="/assets/img/Finland-flag.png" class="img-fluid" alt="Flag">
                </div>
                <div class="card-body">

                    <h4><i class="fa-solid fa-user"></i></h4>
                    <h5 class="card-text">
                        Clients
                        <br />1346
                    </h5>
                    <h4><i class="fa-solid fa-chart-simple"></i></h4>
                    <h5 class="card-text">
                        Accounts
                        <br /> 1128
                    </h5>
                    <h4> <i class="fa-sharp fa-solid fa-dollar-sign"></i> </h4>
                    <h5 class="card-text">
                        Capital
                        <br />56,659,484 kr
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-header img {
        width: 100%;
        height: 200px; /* Justera höjden efter behov */
        object-fit: cover; /* För att bibehålla bildens proportioner */
    }
</style>
